.about-me {
    padding: 100px 0;
    background-image: url(./../img/about-me/gold_noise.jpg);
    border-top: 1px solid rgba(212, 175, 55, 0.1098039216);
    border-bottom: 1px solid rgba(212, 175, 55, 0.1098039216);

    .title-2 {
        text-align: center;
    }
}

.about-me__row {
    display: flex;
    gap: 50px;
}

.about-me__img {
    border: 1px solid rgba(212, 175, 55, 0.288);
}

.about-me__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    color: rgba(71, 71, 71, 0.7019607843);
    p {
        font-size: 18px;
    }

    span {
        font-weight: 600;
    }
}