@charset "UTF-8";
@import './../fonts/Cormorant_Unicase/stylesheet.css';
@import './../fonts/Roboto/stylesheet.css';
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

/*base*/
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  min-height: 100vh;
}

.nne {
  display: none;
}

.title-2 {
  font-family: "Cormorant Unicase", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #2c2c2c;
  margin-bottom: 60px;
}
@media (max-width: 1210px) {
  .title-2 {
    font-size: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  .title-2 {
    font-size: 35px;
  }
}

.title-3 {
  /*subtitle*/
  font-family: "Cormorant Unicase", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #2c2c2c;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  position: relative;
  color: white;
  padding: 18px 25px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 35px;
  text-align: center;
  background: linear-gradient(90deg, rgba(212, 175, 55, 0.98) 52.4%, rgba(110, 91, 29, 0.98) 100%);
  transition: all 0.3s ease-in;
}
.btn:hover {
  background: linear-gradient(90deg, rgb(255, 255, 255) 52.4%, rgb(255, 255, 255) 100%);
  outline: 1px solid rgb(212, 175, 56);
  color: rgb(212, 175, 56);
}

.header {
  position: relative;
  padding-top: 180px;
  background-image: url(./../img/header/bg_gold.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header__row {
  position: relative;
  display: flex;
}
.header__row img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: unset;
  /*обнуляем из reset - max-width 100%*/
  height: 650px;
}

.header__content {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 70%;
  width: 100%;
}
.header__content .btn {
  margin: 0 auto;
}

.header__title {
  padding: 0;
  font-family: "Cormorant Unicase", sans-serif;
  font-size: 150px;
  font-weight: 700;
  text-align: center;
  line-height: 0.7;
  background: linear-gradient(90deg, #d4af37 44.33%, #6e5b1d 93.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.25));
}

.header__title-small {
  font-size: 105px;
}

.header__text {
  font-size: 24px;
  color: rgba(71, 71, 71, 0.7019607843);
  margin: 0 auto;
  text-align: center;
  max-width: 590px;
  font-weight: 400;
}

.for-what {
  padding: 100px 0;
  text-align: center;
}

.for-what__links {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 15px;
}

.for-what__link {
  padding-left: 20px;
  position: relative;
  color: rgba(71, 71, 71, 0.7019607843);
  font-size: 24px;
  text-align: start;
}
.for-what__link:not(:last-child) {
  margin-bottom: 5px;
}
.for-what__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: rgba(71, 71, 71, 0.73);
}

.about-course {
  padding: 100px 0;
  background-image: url(./../img/course/gold_noise.jpg);
  border-top: 1px solid rgba(212, 175, 55, 0.2196078431);
  border-bottom: 1px solid rgba(212, 175, 55, 0.2196078431);
}

.about-course__title {
  text-align: center;
}

.about-course__blocks {
  /*обертка для блоков*/
  display: flex;
  gap: 30px;
  text-align: center;
}
.about-course__blocks .title-3 {
  margin-bottom: 20px;
}

.about-course__block {
  padding: 50px 15px;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(201, 201, 201, 0.1019607843);
  box-shadow: 0 2px 15px rgb(212, 212, 212), 0 10px 10px rgba(206, 206, 206, 0.253);
}
.about-course__block img {
  height: 100px;
  width: 100px;
  margin-bottom: 30px;
}
.about-course__block p {
  color: rgba(71, 71, 71, 0.7019607843);
}

.program {
  padding: 100px 0;
  text-align: center;
  /*текст заголовки*/
}
.program .program__title {
  margin-bottom: -10px;
}
.program .program__subtitle {
  margin-bottom: 90px;
  font-weight: 400;
}
.program .program__content-block-text {
  font-size: 16px;
  color: rgba(71, 71, 71, 0.7019607843);
}

.program__content {
  margin: 0 auto;
}

.program__content-row {
  position: relative;
  width: 50%;
  padding-right: 40px;
  border-right: 1px solid #D4AF37;
  margin-right: 1px;
  text-align: end;
}
.program__content-row::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  transform: translateX(50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: linear-gradient(270deg, #d4af37 0%, #6e5b1d 100%);
}
.program__content-row:nth-child(even) {
  /*правая сторона с блоками*/
  margin-left: auto;
  border-left: 1px solid #D4AF37;
  border-right: none;
  padding-right: 0;
  padding-left: 40px;
  text-align: start;
}
.program__content-row:nth-child(even) .program__content-block-text-wrapper {
  text-align: start;
}
.program__content-row:nth-child(even)::before {
  left: 0;
  transform: translateX(-50%);
}
.program__content-row:last-child {
  /*убирает бордер лефт у последнего*/
  border-right: none;
}

.program__content-title--gold {
  line-height: 0.8;
  background: linear-gradient(90deg, #d4af37 44.33%, #9c8742 93.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.program__content-title {
  line-height: 1;
  margin-bottom: 20px;
}

.program__content-block-text-wrapper {
  text-align: end;
}

.you-get {
  text-align: center;
  background-image: url(./../img/course/gold_noise.jpg);
}

.you-get__wrapper {
  padding: 100px 0;
  border-top: 1px solid rgba(212, 175, 55, 0.1098039216);
  border-bottom: 1px solid rgba(212, 175, 55, 0.1098039216);
}

.you-get__title {
  color: #D4AF37;
  text-align: center;
  margin-bottom: 60px;
}

.you-get__links {
  font-family: "Cormorant Unicase", sans-serif;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  padding: 0 15px;
  text-align: start;
  margin-bottom: 60px;
}

.you-get__link {
  position: relative;
  color: #D4AF37;
  font-size: 30px;
  font-weight: 500;
  padding-left: 60px;
}
.you-get__link:not(:last-child) {
  margin-bottom: 10px;
}
.you-get__link::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 30px;
  width: 30px;
  background-image: url(./../img/you_get/check.svg);
  background-position: center;
  background-size: cover;
}

.questions {
  padding: 100px 0 15px;
}
.questions .container__bg {
  background-image: url(./../img/questions/gold_metal.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.questions__title {
  text-align: center;
}

/*аккрдкон раскрывающиеся окно*/
input[name=panel] {
  display: none;
}

label {
  display: block;
  padding: 0.8em;
  width: 100%;
  border-top: 1px solid white;
  background: linear-gradient(90deg, #d4af37 52.4%, #6e5b1d 100%);
  color: hsl(0, 100%, 100%);
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 1em;
  cursor: pointer;
  text-align: center;
}

.collapsible {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(128, 128, 128, 0.72);
}
.collapsible p {
  font-family: "Cormorant Unicase";
  font-size: 30px;
  font-weight: 400;
  color: white;
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.342));
}

input[name=panel] + .collapsible {
  overflow: hidden;
  height: 0;
  transition: height 1s ease;
}

input[name=panel]:checked + .collapsible {
  overflow: auto;
  height: 200px;
  /* needs a numeric value here to keep transition */
}

.sale {
  text-align: center;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
.sale .program__subtitle {
  margin-bottom: 60px;
}
.sale .sale__title--gold {
  background: linear-gradient(90deg, #d4af37 44.33%, #6e5b1d 93.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sale .sale__title--gold .sale__title--grey {
  position: relative;
  font-size: 50px;
  background: linear-gradient(90deg, #9e9e9e 44.33%, rgba(158, 158, 158, 0.8) 93.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sale .sale__title--gold .sale__title--grey::before {
  content: "";
  position: absolute;
  top: 56%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: red;
}
@media (max-width: 1210px) {
  .sale .sale__title--gold .sale__title--grey {
    font-size: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  .sale .sale__title--gold .sale__title--grey {
    font-size: 35px;
  }
}

.sale__wrapper {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.sale__wrapper-top {
  padding-top: 100px;
  padding-bottom: 100px;
}
.sale__wrapper-top .sale__title {
  margin-bottom: 20px;
}
.sale__wrapper-top .sale__title--gold {
  margin-bottom: 30px;
  line-height: 1;
}

.sale__wrapper-bottom {
  background-color: rgba(212, 175, 55, 0.0901960784);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
}
.sale__wrapper-bottom .sale__title {
  background: linear-gradient(90deg, #d4af37 44.33%, #6e5b1d 93.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sale__wrapper-bottom .btn {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(90deg, rgba(212, 175, 55, 0) 52.4%, rgba(110, 91, 29, 0) 100%);
  outline: 1px solid #D4AF37;
  color: #c9a52f;
  background: transparent;
  margin: 0 auto;
}
.sale__wrapper-bottom .btn:hover {
  background: linear-gradient(90deg, rgba(212, 175, 55, 0.98) 52.4%, rgba(110, 91, 29, 0.98) 100%);
  outline: none;
  color: white;
}

.footer {
  color: rgba(28, 28, 24, 0.5882352941);
  background-image: url(./../img/questions/gold_metal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .footer__bg-blur {
  padding: 100px 0 50px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.footer__contacts {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto 100px;
  font-size: 18px;
}

.footer__contacts-tg,
.footer__contacts-mail,
.footer__contacts-tel {
  position: relative;
  padding-left: 40px;
}
.footer__contacts-tg a,
.footer__contacts-mail a,
.footer__contacts-tel a {
  color: rgba(28, 28, 24, 0.5882352941);
}
.footer__contacts-tg a svg,
.footer__contacts-mail a svg,
.footer__contacts-tel a svg {
  left: 0;
  top: 0;
  position: absolute;
}

.footer__contacts-tel a svg {
  left: 5px;
}

.footer__contacts-tg a svg,
.footer__contacts-mail a svg {
  top: -5px;
  left: -3px;
}

.footer__bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 30px;
  font-size: 14px;
}

.footer__bottom-right div {
  display: flex;
  justify-content: end;
  gap: 5px;
}
.footer__bottom-right div a {
  color: rgba(28, 28, 24, 0.5882352941);
}

.gift {
  background-image: url(./../img/questions/gold_metal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gift__row {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(28, 28, 24, 0.59);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-size: 15px;
  padding: 5px 15px;
  transition: all 0.3s ease-in;
}
.gift__row p,
.gift__row svg {
  transition: all 0.2s ease-in;
}
.gift__row span {
  font-weight: 500;
  font-size: 16px;
  color: white;
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.25));
  transition: all 0.2s ease-in;
}
.gift__row path {
  fill: white;
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.25));
}
.gift__row:hover {
  background-color: rgba(99, 99, 99, 0.295);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.gift__row:hover p span {
  font-size: 20px;
}
.gift__row:hover p,
.gift__row:hover svg {
  transform: translateX(30px);
}

.clients {
  padding: 100px 0;
}

.clients__title {
  text-align: center;
}

.clients__slider {
  position: relative;
  padding: 40px 15px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.slider-item {
  min-height: 190px;
  padding: 30px 15px;
  border: 1px solid #c9a52f;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6588235294);
}

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #c9a52f;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}
.slider__arrow path {
  stroke: #c9a52f;
  transition: all 0.3s ease-in;
}
.slider__arrow:hover {
  background-color: #c9a52f;
  transition: background-color 0.2s ease-in;
}
.slider__arrow:hover path {
  stroke: white;
}
.slider__arrow--left {
  top: -20px;
  right: 25px;
  transform: translateX(-100%);
}
.slider__arrow--right {
  top: -20px;
  right: 15px;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-dots {
  margin-top: 20px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 5px;
  background: #c9a52f;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  border: 1px solid #c9a52f;
  background: transparent;
}

.about-me {
  padding: 100px 0;
  background-image: url(./../img/about-me/gold_noise.jpg);
  border-top: 1px solid rgba(212, 175, 55, 0.1098039216);
  border-bottom: 1px solid rgba(212, 175, 55, 0.1098039216);
}
.about-me .title-2 {
  text-align: center;
}

.about-me__row {
  display: flex;
  gap: 50px;
}

.about-me__img {
  border: 1px solid rgba(212, 175, 55, 0.288);
}

.about-me__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  color: rgba(71, 71, 71, 0.7019607843);
}
.about-me__info p {
  font-size: 18px;
}
.about-me__info span {
  font-weight: 600;
}

/* Tablet */
@media (max-width: 1210px) {
  .header {
    padding-top: 150px;
  }
  .header .container {
    max-width: 1024px;
  }
  .header .header__content {
    max-width: 70%;
    margin-bottom: 70px;
  }
  .header img {
    left: -5px;
    height: 500px;
  }
  .header .header__title {
    font-size: 120px;
  }
  .header .header__title-small {
    font-size: 90px;
  }
  .header .header__text {
    color: rgba(71, 71, 71, 0.7019607843);
    font-size: 18px;
    max-width: 450px;
  }
  .for-what .for-what__title {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .about-course .about-course__blocks {
    gap: 20px;
  }
  .about-course .about-course__block {
    padding: 30px 10px 50px;
  }
  .program .program__title {
    margin-bottom: 10px;
  }
  .you-get__wrapper .you-get__title {
    margin-bottom: 30px;
  }
  .questions .collapsible p {
    text-align: center;
    max-width: 660px;
  }
  .sale .sale__title--gold {
    margin-bottom: 40px;
  }
}
/* Tablet */
@media (max-width: 1023px) {
  .header {
    padding-top: 100px;
  }
  .header .container {
    max-width: 768px;
  }
  .header img {
    height: 430px;
    left: -10px;
  }
  .header .header__title {
    font-size: 90px;
  }
  .header .header__title-small {
    font-size: 60px;
  }
  .header .header__text {
    font-size: 16px;
  }
  .header .btn {
    font-size: 16px;
  }
  .for-what {
    padding: 70px 0 50px;
  }
  .for-what__link {
    font-size: 18px;
    color: rgba(20, 20, 19, 0.6);
  }
  .about-course {
    padding: 70px 0 50px;
  }
  .about-course .container {
    max-width: 768px;
  }
  .about-course .about-course__blocks {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .about-course .about-course__block {
    height: 326px;
    max-width: 350px;
  }
  .program {
    padding: 70px 0 50px;
  }
  .program .program__title {
    margin-bottom: 0;
  }
  .program .program__subtitle {
    font-size: 21px;
    margin-bottom: 50px;
  }
  .program .program__content {
    max-width: 500px;
    padding-left: 10px;
  }
  .program .program__content-row {
    border-right: none;
    border-left: 1px solid #D4AF37;
    padding-right: 0;
    padding-left: 20px;
    width: 100%;
    text-align: start;
  }
  .program .program__content-row::before {
    height: 20px;
    width: 20px;
  }
  .program .program__content-row .program__content-block-text-wrapper {
    text-align: start;
  }
  .program .program__content-row .program__content-block-text-wrapper .program__content-block-text {
    font-size: 16px;
  }
  .program .program__content-row:not(:last-child) {
    padding-bottom: 30px;
  }
  .program .program__content-row:last-child {
    border-left: none;
  }
  .program .program__content-row:before {
    left: 0;
    transform: translateX(-50%);
  }
  .program .program__content-row:nth-child(even) {
    margin-left: auto;
  }
  .program .program__content-title--gold {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .program .program__content-title {
    font-size: 22px;
    margin-bottom: 5px;
    text-align: start;
  }
  .you-get .you-get__wrapper {
    padding: 70px 0 50px;
  }
  .you-get .you-get__link {
    padding-left: 30px;
    font-size: 20px;
  }
  .you-get .you-get__link::before {
    height: 15px;
    width: 15px;
    top: 0;
  }
  .clients {
    padding: 70px 0 50px;
  }
  .about-me {
    padding: 70px 0 50px;
  }
  .about-me .about-me__row {
    gap: 30px;
  }
  .about-me .about-me__info {
    gap: 30px;
  }
  .about-me p {
    font-size: 16px;
  }
  .questions {
    padding: 70px 0 15px;
  }
  .questions .questions__title {
    padding: 0 15px;
  }
  .questions .program__subtitle {
    font-size: 20px;
  }
  .questions .collapsible p {
    font-size: 20px;
    max-width: unset;
  }
  input[name=panel]:checked + .collapsible {
    height: 100px;
  }
  .sale .sale__wrapper-top,
  .sale .sale__wrapper-bottom {
    padding: 70px 0 50px;
  }
  .footer .footer__bg-blur {
    padding-bottom: 15px;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .header {
    padding-top: 0;
  }
  .header .container {
    padding: 0;
  }
  .header .header__title {
    font-size: 70px;
  }
  .header .header__title-small {
    font-size: 45px;
  }
  .header .header__row {
    padding: 90px 15px 0 15px;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 50px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .header .header__row img {
    position: static;
    width: 290px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
  .header .header__content {
    max-width: 100%;
    margin-bottom: 0;
  }
  .header .header__text {
    font-size: 18px;
  }
  .for-what .for-what__link {
    font-size: 16px;
  }
  .for-what .for-what__link:before {
    top: 10px;
  }
  .for-what .for-what__link:not(:last-child) {
    margin-bottom: 10px;
  }
  .about-me .about-me__row {
    flex-direction: column;
    align-items: center;
  }
  .about-me .about-me__img {
    max-width: 395px;
    width: 100%;
  }
  .about-me .about-me__info {
    gap: 15px;
  }
  .sale .sale__wrapper-top,
  .sale .sale__wrapper-bottom {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer .footer__bg-blur {
    padding-top: 70px;
  }
  .footer .footer__bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer .footer__contacts {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
  }
  .footer .footer__contacts-tg {
    padding-left: 48px;
  }
  .footer .footer__contacts-tg a svg {
    left: 6px;
  }
  .footer .footer__contacts-tel a svg {
    left: 2px;
  }
  .footer .footer__bottom-right div {
    flex-direction: column;
    gap: 0;
  }
  .footer .footer__bottom-right p {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */